*{
    margin: 0;
    padding: 0;
    
    
}
body{
    background-image: url("./image/background.jpg");
}
header{
    position: fixed;
    width: 100%;
}

nav{
    width: auto;
    height: 50px;
    padding-block-start: 20px;
    text-align: center;
    background-color: rgb(36, 105, 154);
    background-repeat: no-repeat;
    background-position: 0%;
    display: block;
    font-size: 23px;
    
}

#ism{
    text-align: center;
    color: rgb(188, 170, 170);
    height: 500px;
    font-size: 42px;
}

#home{
    display: flex;
    height: 820px;
    justify-content: center;
    align-items: center;
    background-image: url("");
}

a{
    /* align-items: center; */
    height: 80px;
    text-decoration: none;
    color: rgb(232, 224, 224);
    font-size: 18px;
    margin-inline-end: 20px;
}

a:focus{
    background-color: rgb(26, 99, 110);
    color: rgb(244, 239, 239);
    border-radius: 20%;
}


#userdiv{
    display: flex;
    margin-block-start: 370px;
}

#ism{
    margin-block-start: 40px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-inline-start: 40px;
    margin-block-start: 90px;
}

.user{
    width: 190px;
    height: 320px;
    margin-left: 100px;
}

#abuotMe{
    height: 820px;
    width: 100%;
    /* background-image: url("./image/background.jpg"); */
}

.about{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(188, 170, 170);
}

.name{
    text-align: center;
    color: rgb(213, 209, 209);
    margin-block-start: 50px;
    margin-block-end: 20px;
}

#data{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(188, 170, 170);
    margin-block-start: 5px;
}

#data1{
    text-align:center;
    font-family: sans-serif;
    font-weight: bold;
}

#data2{
        text-align:center;
        font-family: sans-serif;
        font-weight: bold;
}

.skills_l{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(213, 209, 209);
}

.skills{
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(204, 191, 176);
}
.skills_d{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(213, 209, 209);
}

.skills2{
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(204, 191, 176);
}

#work{
    height: 820px;
    width: 100%;
    color: beige;
    text-align: center;
}

.frontendIMage{
    text-align: end;
    margin-inline-start: 10px;
    border-radius: 10%;
    height: 220px;
    width: auto;
}

.UI-UXimage{
    margin-inline-start: 10px;
    border-radius: 10%;
    width: auto; 
    height: 220px;
}

#workdiv1{
    margin-block-start: 30px;
}

#workdiv2{
    margin-block-start: 30px;
}

#interest{
        height: 820px;
        width: 100%;
        color: beige;
        text-align: center;
}

#images{
    display: flex;
    text-align: center;
    margin-inline-start: 20px;
}

.cook{
    border-radius: 15px;
    margin-block-start: 50px;
    margin-inline-start: 50px;
}

/* .film{
  
    width: 60px;
    height: 60px;
}

.sing{
    width: 60px;
    height: 60px;
}

.listen{
    width: 60px;
    height: 60px;
}

.cook{
    width: 60px;
    height: 60px;
}

.dance{
    width: 60px;
    height: 60px;
} */

@media only screen and (max-width: 520px) {
    header{
        font-size: 18px;
    }
}